<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<h2>Sign In Page</h2>

<%= render "form" %>
<%= render 'shared/users' %>