<%= form_with model: [ event, Comment.new ] do |form| %>

    <div>
        <%= form.label :Comment, style: "display: block" %>
        <%= form.text_area :body, size: "100%x3" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>