<% unless notice.nil? %>
    <p style="color: green"><%= notice %></p>
<% end %>

<% content_for :title, "Events" %>

<h1>Events</h1>
<p>There are currently <%= @events.count %> active event posts.</p>

<div id="events">
    <% sorted_events_by_date = @events.sort_by { |event| Time.parse(event.date) } %>
    <% sorted_events_by_date.each do |event| %>
        <%= render event %>
        <p>
            <%= link_to "Show this event", event, class: "button" %>
        </p>
    <% end %>
</div>

<%#= link_to "New event", new_event_path %>
